:root {
  --background: linear-gradient(to right, rgb(28, 121, 207) 10%, rgb(27, 61, 155), rgb(1, 20, 71));
  --foreground: #ffffff;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  width: 100px;
  margin-left: 5vw;
}

.logo img {
  width: 100%;
  height: auto;
}

.escritasLateral {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.5vw;
  margin-right: 5vw;
  font-size: 14px;
  font-weight: 600;
}

.work_with_us_menor {
  background-color: rgb(235, 108, 150);
  border-radius: 20px;
  padding: 10px 24px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container-notfound{
  width: 70vw;
  margin: auto;
}

.flex-notfound{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.face{
  width: 300px;
  height: auto;
}